@import url('https://fonts.googleapis.com/css?family=Crete+Round|Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Crete Round', serif;
}

.fluid-container {
    width: 1214px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.row {
    max-width: 100%;
    margin: 40px 0;
}

.col {
    display: inline-block;
}

.col.m3 {
    width: 23.5%;
}

.col.m4 {
    width: 32.5%;
}

.col.m8 {
    width: 66.5%;
}

.more-button {
    border: 2px solid #444;
    color: #444;
    font-size: 10pt;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    margin: 15px 0px;
    transition: 0.2s;
    text-transform: uppercase;
}

.more-button i {
    margin: 0 8px;
    transition: 0.5s;
}

.more-button:hover i {
    transform: rotate(360deg);
}

.more-button:hover {
    background: #444;
    color: #fff;
}

@media(max-width: 1024px) {
    .fluid-container {
        width: 90%;
    }
}

@media(max-width: 960px) {
    .col.m3,
    .col.m4 {
        width: 49.5%;
    }
}

@media(max-width: 500px) {
    .col.m3,
    .col.m4,
    .col.m8 {
        width: 100%;
    }
}

.accent-green {
    color: #CDDC39;
}


/* Navbar start */

nav {
    background: #48706c;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 80px;
    line-height: 80px;
    position: fixed;
    z-index: 2;
    width: 100%;
}

.site-brand img {
    display: inline-block;
    height: 48px;
    padding: 15px 13px;
}

.site-brand {
    float: left;
}

.site-brand h1 {
    display: inline-block;
    vertical-align: top;
    font-weight: normal;
}

.site-brand h1 a {
    color: #ffffff;
    text-decoration: none;
}

.site-nav {
    float: right;
}

.site-nav ul li {
    display: inline-block;
    line-height: 72px;
}

.site-nav ul li a {
    color: inherit;
    opacity: 0.7;
    letter-spacing: 1px;
    padding: 0 15px;
    text-decoration: none;
    transition: 0.3s all;
}

.active {
    color: #CDDC39!important;
    border-bottom: 4px solid #CDDC39;
}

.active a {
    opacity: 1!important;
}

.site-nav ul li a:hover {
    opacity: 1;
}

.menu-toggle {
    display: none;
    float: right;
    margin: 25px 10px;
}

.menu-toggle span {
    background: #fff;
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0px;
}


/* Navbar stop */


/* Navbar responsive start */

@media(max-width: 600px) {
    .site-brand {
        float: none;
        text-align: center;
    }
    .site-nav {
        box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.5);
        line-height: 50px;
        float: none;
        position: fixed;
        top: 79px;
        text-align: center;
        left: 0;
        background: #40625e;
        width: 100%;
    }
    .site-nav ul li {
        line-height: 50px;
    }
}


/* Navbar responsive stop */


/* Banner start */

.banner {
    border-bottom: 8px solid #CDDC39;
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    position: relative;
}

.banner-filter {
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .fluid-container {
    color: #fff;
    position: relative;
    right: 0;
    width: 1214px;
    padding: 163px 0px;
}

.banner .fluid-container h1 {
    font-weight: normal;
    font-size: 4em;
}

.banner .fluid-container p {
    font-size: 1.5em;
    width: 400px;
}


/* Banner stop */


/* Banner responsive start */

@media(max-width: 1024px) {
    .banner .fluid-container {
        width: 90%;
    }
}

@media(max-width: 500px) {
    .banner .fluid-container {
        padding: 163px 0px;
    }
    .banner .fluid-container h1 {
        font-size: 3.5em;
    }
    .banner .fluid-container p {
        width: auto;
    }
}


/* Banner responsive stop */


/* Index section start*/


/* Section about start */

.section {
    margin: 90px 0px;
}

.section h1 {
    color: #444;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 20px 0;
}

.section.about,
.section.skill {
    text-align: center;
}

.section p {
    color: #444;
    width: 70%;
    margin: 0 auto;
    font-size: 1.25em;
}

.divider {
    background: #CDDC39;
    display: block;
    height: 5px;
    margin: 20px auto;
    width: 60px;
}


/* Section about stop */


/* Section profil start */

.section.profil {
    background: #f4f4f4;
    padding: 60px 0;
    margin: 0px 0px;
    text-align: center;
}

.avatar-wrapper {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    overflow: hidden;
    margin: 0 auto 20px;
}

.avatar-wrapper img {
    height: 80px;
    margin: 0px 0px 0px -3px;
}


/* Section profil stop */


/* Section skill start */

.section.skill {
    background: #f4f4f4;
    padding: 60px 0;
    margin: 0px 0px;
}

.section.skill .col.m3 {
    margin: 20px 0px;
}

.skill-block {
    width: 80%;
    margin: 40px auto 0px;
}

.skill-block img {
    height: 140px;
}

.col.m3:nth-child(4) img {
    height: 120px;
}


/* Section skill stop */


/* Section quotes start */

.section.quotes {
    background: #444;
    color: #fff;
    text-align: center;
    position: relative;
    height: 230px;
    margin: 0px;
    overflow: hidden;
}

.section.quotes h1 {
    color: inherit;
    padding: 87px 0px;
}

@media(max-width: 500px) {
    .section.quotes h1 {
        padding: 55px 0px;
    }
}

.section.quotes::before {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 51px 1512px 0;
    border-color: #f4f4f4 transparent;
    top: 0;
}

.section.quotes::after {
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 1512px 0;
    border-color: #ffffff00 #f4f4f4;
    bottom: 0;
}


/* Section quotes stop */


/* Section galeri start */

.section.galeri {
    text-align: center;
}

.card-gallery {
    background: #444;
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.5);
    height: 200px;
    margin: 10px auto;
    width: 300px;
    overflow: hidden;
}

.card-gallery img {
    height: 200px;
    width: auto;
    transform: scale(1.5);
}


/* Section galeri stop */


/* Galeri responsive start */

@media(max-width: 768px) {
    .section.galeri .col.m4 {
        margin: 0px;
    }
}

@media(max-width: 730px) {
    .section.galeri .col.m4 {
        margin: 1px;
        width: 100%;
    }
}


/* Galeri responsive stop*/


/* Index section stop*/


/* Footer section start */

footer {
    background: #f1f1f1f1;
    color: #7d7d7d;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 60px;
    line-height: 60px;
}


/* Footer section stop */


/* Footer responsive start */

@media(max-width: 500px) {
    footer {
        height: auto;
    }
}


/* Footer responsive stop */


/* Profil page */

#profil-page .avatar-wrapper {
    height: 180px;
    width: 180px;
}

#profil-page .avatar-wrapper img {
    height: 180px;
    margin: 0px 0px 0px -3px;
}

#profil-page .section.profil {
    background: #fff;
    padding: 60px 0px 0px 0px;
}

#profil-page h2 {
    color: #444;
}

#profil-page .section.detail-profil {
    margin: 90px 0px 0px 0px;
}

.section.profil-more .col.m8 {
    vertical-align: top;
}

.section.profil-more .divider {
    margin: 10px 0px;
}

.home-map {
    background: #444;
    height: 300px;
    width: 400px;
}

@media(max-width: 600px) {
    .home-map {
        width: auto;
    }
}

.profil-more.text {
    padding: 0 80px;
    margin: 20px 40px;
}

@media(max-width: 960px) {
    .profil-more.text {
        padding: 0;
        margin: 20px 0px;
    }
}

.profil-more.text p {
    width: 100%;
}

.profil-more.text ul li {
    list-style: none;
    margin: 10px 0px;
}

.profil-more.text ul li a {
    text-decoration: none;
    color: #444;
    font-size: 1.2em;
}

.profil-more.text ul li a i {
    font-size: 1.4em;
    margin: 0 15px;
}

.section.section.profil-more .fluid-container,
.section.detail-profil .fluid-container {
    width: 70%;
}

.section.detail-profil .col.m4 {
    margin: 10px 0px;
    vertical-align: top;
}

.section.detail-profil .col.m4:first-child h1,
.section.detail-profil .col.m4:first-child p {
    text-align: center;
}

.section.detail-profil .col.m4:first-child p {
    letter-spacing: 7px;
}

.section.detail-profil .col.m4:first-child .umur {
    color: #cddc39;
    font-size: 7em;
    margin-bottom: 0px;
}

.section.detail-profil td {
    padding: 10px 0px;
    border-bottom: 1px dashed #aeaeae;
}

.section.detail-profil tr:last-child td {
    border: none;
}

.section.detail-profil .divider {
    margin: 10px 0px;
}